body{
    background:#CCCCCC;
}

#banner{
    width: 100%
}

.principal{
     background: #CCCCCC;  
}

h1{
    color:aqua;
    background:rgb(0, 0, 0);
    text-align: center;
}

p{
    text-align: center;
    font-size: 20px
}

#missao{
    font-size: 25px;
}
em strong{
    color: #ff6788;
}

.itens{
    font-style: italic;
}

.beneficos{
    background-color: #FFFFFF;
}

h2{
    text-align: center;
}